## Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Env
.venv/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Build
build/
dist/

*.spec

# Logs
logs/
*.log

# Cache
cache/

# Environment
.env

# Qt
*.qmlc
*.jsc

# Windows
Thumbs.db
Desktop.ini